:root{
  /*---colores-----*/
  --dark-blue:#002a46;
  --mid-blue:#004876;
  --light-blue:#2aaae2;
  --back-color:#161515;
  --grey-color:rgb(123, 123, 123);;
  --dark-visited:#055281;
  --white-color: white;
  /*---tipografía---*/
  --normal:12px;
  /*---espaciado---*/
  --space:10px;
  --space-2:20px;
  /*---box sahdow---*/
  --box:0px 0px 2px 1px #e6e5e9;
  /*----------------*/
}
body{
 background-color: var(--back-color);
 margin: 20px; 
}
main{
  margin-left: 20px;
}
.container{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  top: -45px;
  padding-top: 10px;
  margin-top: 40px;        
}